# Object files (目标文件)
*.o
*.ko
*.obj
*.elf

# Precompiled Headers (预编译头文件)
*.gch
*.pch

# Libraries (库文件)
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs 共享对象)
*.dll
*.so
*.so.*
*.dylib

# Executables  (可执行文档)
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files (调试文件)
*.dSYM/

#my personal rule for C&Keil (小明新增)
/STM32F10x_FWLib/*
/OBJ/*
/CORE/*
/FATFS/*
*.bat
*.uvproj
*.uvopt
*.uvgui.Fzu_Xmu_bmw
*.lst
*.dep
*.map
*.bak
